
.base {
    .ch-header {
        background-color: $header-bg-color;
        a, i, span, input {
            color: $header-font-color!important;
        }
        a.header-title-logo {
            background: url('../../../logo.png') center 30% no-repeat;
            display: block;
            height: 30px;
            width: 30px;
        }
    }
    .mdl-layout__drawer-button {
        color: $header-font-color!important;
        &:focus {
            outline: 0;
        }
    }
}
