.tools-container {
    a, h2 {
        color: #000000;
        text-decoration: none;
        font-weight: 400;
    }
    margin: 16px 16px;
    .mdl-list__item.mdl-list__item--three-line {
        width: 50%;
        display: inline-block;
    }
    .material-icons {
        border-radius: 0%;
    }
    .symfony {
        background: url('http://localhost:5000/logos/symfony.svg') center / contain no-repeat;
    }
    .laravel {
        background: url('http://localhost:5000/logos/laravel.svg') center / contain no-repeat;
    }
    .angular {
        background: url('http://localhost:5000/logos/angular.svg') center / contain no-repeat;
    }
    .react {
        background: url('http://localhost:5000/logos/react.svg') center / contain no-repeat;
    }
    .flux {
        background: url('http://localhost:5000/logos/flux.svg') center / contain no-repeat;
    }
    .redux {
        background: url('http://localhost:5000/logos/redux.svg') center / contain no-repeat;
    }
    .phoenix {
        background: url('http://localhost:5000/logos/phoenix.svg') center / contain no-repeat;
    }
    .express {
        background: url('http://localhost:5000/logos/express.svg') center / contain no-repeat;
    }
    .mysql {
        background: url('http://localhost:5000/logos/mysql.svg') center / contain no-repeat;
    }
    .mongodb {
        background: url('http://localhost:5000/logos/mongodb.svg') center / contain no-repeat;
    }
    .elasticsearch {
        background: url('http://localhost:5000/logos/elasticsearch.svg') center / contain no-repeat;
    }
    .logstash {
        background: url('http://localhost:5000/logos/logstash.svg') center / contain no-repeat;
    }
    .kibana {
        background: url('http://localhost:5000/logos/kibana.svg') center / contain no-repeat;
    }
    .ionic {
        background: url('http://localhost:5000/logos/ionic.svg') center / contain no-repeat;
    }
    .docker {
        background: url('http://localhost:5000/logos/docker.svg') center / contain no-repeat;
    }
    .android {
        background: url('http://localhost:5000/logos/android.svg') center / contain no-repeat;
    }
    .socket-io {
        background: url('http://localhost:5000/logos/socket-io.svg') center / contain no-repeat;
    }
    .redis {
        background: url('http://localhost:5000/logos/redis.svg') center / contain no-repeat;
    }
    .flow {
        background: url('http://localhost:5000/logos/flow.svg') center / contain no-repeat;
    }
    .aws {
        background: url('http://localhost:5000/logos/aws.svg') center / contain no-repeat;
    }
    .varnish {
        background: url('http://localhost:5000/logos/varnish.svg') center / contain no-repeat;
    }
    .koa {
        background: url('http://localhost:5000/logos/koa.svg') center / contain no-repeat;
    }
    .restify {
        background: url('http://localhost:5000/logos/restify.svg') center / contain no-repeat;
    }
    .loopback {
        background: url('http://localhost:5000/logos/loopback.svg') center / contain no-repeat;
    }
    .rxjs {
        background: url('http://localhost:5000/logos/reactivex.svg') center / contain no-repeat;
    }
}

@media screen and (max-width: 900px) {
    .tools-container {
        .mdl-list__item.mdl-list__item--three-line {
            width: 100%;
            display: inline-block;
        }
    }
}
