.works-container {
    margin: 16px 16px;
    a {
        color: #424242;
        text-decoration: none;
    }
    .open-source-container a.open-source-item {
        color: #424242;
        text-decoration: none;
    }
    .mdl-cell {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .open-source-container {
        margin: 0px 0px !important;
        .mdl-list {
            margin: 0px 0px;
            .mdl-list__item {
                display: inline-block;
                width: 50%;
            }
        }
    }
    .app-link {
        display: inline-block;
        max-width: 100%;
        margin: 8px 8px 8px 8px;
    }
    .featured a {
        color: #424242;
        text-decoration: none;
        font-weight: 500;
        font-size: 28px;
    }
    .featured-description {
        padding-left: 16px !important;
        color: #626262;
    }
    h2 {
        color: #424242;
        text-decoration: none;
        font-weight: 600;
        font-size: 36px;
    }
    .work-item {
        max-width: 100%;
    }
    .mdl-card {
        width: 100%;
    }
    .others {
        font-size: 16px;
        margin: 8px 0;
    }
    .rtl {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/works/rtl.PNG') center / cover;
    }
    .rtl-operator {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/works/rtl-operator.PNG') center / cover;
    }
    .numa {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/works/numa.PNG') center / cover;
    }
    .cliq {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/works/cliq.PNG') center / cover;
    }
    .starfish {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/works/starfish.PNG') center / cover;
    }
    .mntc {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/works/mntc.PNG') center / cover;
    }
    .filinvest {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/works/filinvest.PNG') center / cover;
    }
    .mida {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/works/mida.PNG') center / cover;
    }
    .dutche {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/works/dutche.PNG') center / cover;
    }
    .bizu {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/works/bizu.PNG') center / cover;
    }
    .jaro {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/works/jaro.PNG') center / cover;
    }
    .showcase {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/works/showcase.PNG') center / cover;
    }
    .elysys {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/works/elysys.PNG') center / cover;
    }
    .bull-and-bear {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/works/bullandbear.PNG') center / cover;
    }
    .molly-malone {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/works/mollymalone.PNG') center / cover;
    }
    .diamond {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/works/diamond.PNG') center / cover;
    }
    .ccga {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/works/ccga.PNG') center / cover;
    }
    .mfg {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/works/mfg.PNG') center / cover;
    }
    .gyukaku {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/works/gyukaku.PNG') center / cover;
    }
}

@media screen and (max-width: 900px) {
    .featured a {
        font-size: 16px !important;
    }
    h2 {
        font-size: 24px !important;
    }
    .open-source-container {
        margin: 0px 0px !important;
        .mdl-list {
            margin: 0px 0px;
            .mdl-list__item {
                display: inline-block !important;
                width: 100% !important;
            }
        }
    }
}
