.home-banner-section {
    background: url('http://localhost:5000/images/banner.jpg') center 30% no-repeat;
    background-color: #f3f3f3;
    background-size: contain;
    height: 100vh;
    position: relative;
    width: 100%;
    .banner-font {
        color: $gray;
        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
        font-weight: 500 !important;
        line-height: 1;
        text-align: center;
        &.banner-sub-slogan {
            padding-top: 180px;
        }
    }
    .banner-slogan h1 {
        font-size: 60px;
        margin: 0 auto;
        padding-top: 128px;
        font-weight: 500 !important;
    }
}

@media screen and (max-width: 900px) {
    .home-banner-section {
        .banner-slogan h1 {
            font-size: 20px!important;
            margin: 0 16px;
            padding-top: 160px!important;
            font-weight: 500 !important;
        }
    }
}
