.home-banner-section {
    background: url('../../../banner-image.jpg') center 30% no-repeat;
    background-color: #f3f3f3;
    background-size: contain;
    height: 600px;
    position: relative;
    width: auto;
    .banner-font {
        color: $gray;
        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
        font-weight: 500;
        line-height: 1;
        text-align: center;
    }
    .banner-slogan h1 {
        font-size: 60px;
        margin: 0 auto;
        padding-top: 80px;
    }
    .banner-sub-slogan h2 {
        font-size: 21px;
        margin: 0 auto;
        padding-top: 16px;
    }
}

@media screen and (max-width: 900px) {
    .home-banner-section {
        height: 230px;
        .banner-slogan h1 {
            font-size: 20px!important;
            margin: 0 16px;
            padding-top: 24px!important;
        }
        .banner-sub-slogan h2 {
            font-size: 12px!important;
            line-height: 16px;
            margin: 0 16px;
            padding-top: 8px!important;
        }
    }
}
