.tools-container {
    a, h2 {
        color: #000000;
        text-decoration: none;
        font-weight: 400;
    }
    margin: 16px 16px;
    .mdl-list__item.mdl-list__item--three-line {
        width: 50%;
        display: inline-block;
    }
    .material-icons {
        border-radius: 0%;
    }
    .symfony {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/tools/symfony.svg') center / contain no-repeat;
    }
    .laravel {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/tools/laravel.svg') center / contain no-repeat;
    }
    .angular {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/tools/angular.svg') center / contain no-repeat;
    }
    .react {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/tools/react.svg') center / contain no-repeat;
    }
    .flux {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/tools/flux.svg') center / contain no-repeat;
    }
    .redux {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/tools/redux.svg') center / contain no-repeat;
    }
    .phoenix {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/tools/phoenix.svg') center / contain no-repeat;
    }
    .express {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/tools/express.svg') center / contain no-repeat;
    }
    .mysql {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/tools/mysql.svg') center / contain no-repeat;
    }
    .mongodb {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/tools/mongodb.svg') center / contain no-repeat;
    }
    .elasticsearch {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/tools/elasticsearch.svg') center / contain no-repeat;
    }
    .logstash {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/tools/logstash.svg') center / contain no-repeat;
    }
    .kibana {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/tools/kibana.svg') center / contain no-repeat;
    }
    .ionic {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/tools/ionic.svg') center / contain no-repeat;
    }
    .docker {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/tools/docker.svg') center / contain no-repeat;
    }
    .android {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/tools/android.svg') center / contain no-repeat;
    }
    .socket-io {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/tools/socket-io.svg') center / contain no-repeat;
    }
    .redis {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/tools/redis.svg') center / contain no-repeat;
    }
    .flow {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/tools/flow.svg') center / contain no-repeat;
    }
    .aws {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/tools/amazon-web-services.svg') center / contain no-repeat;
    }
    .varnish {
        background: url('https://s3-ap-southeast-1.amazonaws.com/kev-portfolio/tools/varnish.svg') center / contain no-repeat;
    }
}

@media screen and (max-width: 900px) {
    .tools-container {
        .mdl-list__item.mdl-list__item--three-line {
            width: 100%;
            display: inline-block;
        }
    }
}
